In [ ]:
import pandas as pd

In [ ]:

directories = pd.period_range('2023-11', '2025-12', freq='M').strftime('%Y%m').tolist()
dfs = []

for i in directories:
    path = f'Data/{i}/{i}_CombinedData.csv/{i}_CombinedData.csv'
    dfs.append(pd.read_csv(path))

weather_dataframe = pd.concat(dfs, ignore_index=True)

In [ ]:
weather_dataframe.info(show_counts=True)

In [ ]:
columns = list(weather_dataframe.columns)
weather_dataframe[columns[:5]]

,visibility,datetime,coord.lon,coord.lat,main.temp
0,10000.0,2023-11-06 15:35:43+08:00,119.9811,16.1561,30.52
1,10000.0,2023-11-06 15:45:07+08:00,120.5833,15.1500,35.25
2,10000.0,2023-11-06 15:45:09+08:00,121.1900,15.6181,29.74
3,10000.0,2023-11-06 15:45:11+08:00,123.5085,12.2285,29.01
4,10000.0,2023-11-06 15:45:12+08:00,120.9290,14.4590,32.05
...,...,...,...,...,...
1513787,10000.0,2025-12-31 23:04:05+08:00,NaN,NaN,24.27
1513788,10000.0,2025-12-31 23:04:07+08:00,NaN,NaN,27.22
1513789,10000.0,2025-12-31 23:04:09+08:00,NaN,NaN,26.54
1513790,10000.0,2025-12-31 23:04:11+08:00,NaN,NaN,24.03
1513791,10000.0,2025-12-31 23:04:14+08:00,NaN,NaN,25.97

In [ ]:
categorical_weather_labels = ['weather.main','weather.description','weather.id','weather.icon']
time_location_labels = ['datetime','sys.sunrise','sys.sunset','coord.lat','coord.lon','city_name']
weather_signal_labels = [
    'main.temp','main.feels_like','main.temp_min','main.temp_max',
    'main.pressure','main.humidity','main.sea_level','main.grnd_level',
    'wind.speed','wind.deg','wind.gust','clouds.all','visibility','rain.1h'
]
system_data = ['sys.type','sys.id','extraction_date_time']

In [ ]:
weather_dataframe.drop(system_data, inplace=True, axis=1)

In [ ]:
weather_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513792 entries, 0 to 1513791
Data columns (total 24 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   visibility           1512148 non-null  float64
 1   datetime             1513792 non-null  object
 2   coord.lon            447165 non-null   float64
 3   coord.lat            447165 non-null   float64
 4   main.temp            1513792 non-null  float64
 5   main.feels_like      1513792 non-null  float64
 6   main.temp_min        1513792 non-null  float64
 7   main.temp_max        1513792 non-null  float64
 8   main.pressure        1513792 non-null  float64
 9   main.humidity        1513792 non-null  float64
 10  main.sea_level       1472164 non-null  float64
 11  main.grnd_level      1472164 non-null  float64
 12  wind.speed           1513792 non-null  float64
 13  wind.deg             1513792 non-null  float64
 14  wind.gust            1295449 non-null  float64
 15  clouds.all           1513792 non-null  float64
 16  sys.sunrise          1513792 non-null  object
 17  sys.sunset           1513792 non-null  object
 18  weather.id           447165 non-null   float64
 19  weather.main         1513792 non-null  object
 20  weather.description  1513792 non-null  object
 21  weather.icon         447165 non-null   object
 22  city_name            1513792 non-null  object
 23  rain.1h              128584 non-null   float64
dtypes: float64(17), object(7)
memory usage: 277.2+ MB

In [ ]:
time_labels = ['datetime', 'sys.sunrise', 'sys.sunset', 'extraction_date_time']
for col in time_labels:
    if col in weather_dataframe.columns:
        weather_dataframe[col] = pd.to_datetime(weather_dataframe[col], errors='coerce')

In [ ]:
weather_dataframe[['coord.lat', 'coord.lon']] = (
    weather_dataframe.groupby('city_name')[['coord.lat', 'coord.lon']]
      .transform(lambda x: x.fillna(x.mean()))
)

In [16]:
weather_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513792 entries, 0 to 1513791
Data columns (total 24 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   visibility           1512148 non-null  float64
 1   datetime             1513792 non-null  datetime64[ns, UTC+08:00]
 2   coord.lon            1513792 non-null  float64
 3   coord.lat            1513792 non-null  float64
 4   main.temp            1513792 non-null  float64
 5   main.feels_like      1513792 non-null  float64
 6   main.temp_min        1513792 non-null  float64
 7   main.temp_max        1513792 non-null  float64
 8   main.pressure        1513792 non-null  float64
 9   main.humidity        1513792 non-null  float64
 10  main.sea_level       1472164 non-null  float64
 11  main.grnd_level      1472164 non-null  float64
 12  wind.speed           1513792 non-null  float64
 13  wind.deg             1513792 non-null  float64
 14  wind.gust            1295449 non-null  float64
 15  clouds.all           1513792 non-null  float64
 16  sys.sunrise          1513792 non-null  datetime64[ns, UTC+08:00]
 17  sys.sunset           1513792 non-null  datetime64[ns, UTC+08:00]
 18  weather.id           447165 non-null   float64
 19  weather.main         1513792 non-null  object
 20  weather.description  1513792 non-null  object
 21  weather.icon         447165 non-null   object
 22  city_name            1513792 non-null  object
 23  rain.1h              128584 non-null   float64
dtypes: datetime64[ns, UTC+08:00](3), float64(17), object(4)
memory usage: 277.2+ MB